.loompa-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.loompa-name, .highlighted-name {
    margin-bottom: 0;
    font-weight: bold;
    font-size: large;
}

.columns-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: nowrap;
}

.description {
    width: 100%;
    text-wrap: wrap;
    height: fit-content;
    overflow-wrap: break-word;
}

.loompa-data {
    display: flex;
    flex-direction: column;
    width: 40vw;
    min-width: 300px;
}

@media screen and (max-width: 600px) {
    .columns-wraper {
        flex-wrap: wrap;
    }
}