.loompa-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.loompa-pic {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .loompa-pic {
        width: 300px;
        height: 200px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .loompa-pic {
        width: 300px;
        height: 200px;
    }
}

@media screen and (min-width: 1025px) {
    .loompa-pic {
        width: 400px;
        height: 300px;
    }
}