#root {
  max-width: 1280px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(216 216 216);
  gap: 30px;
}

.site-logo {
  height: 30px;
  margin-left: 180px;
}